<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="baeldung" packages="com.knubisoft" status="all">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>